services:
  gazebo:
    build:
      context: .
      dockerfile: docker/ros-jazzy-gazebo.Dockerfile
    container_name: gazebo
    network_mode: host
    working_dir: /workspace

    environment:
      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: "1"
      IGN_GAZEBO_RESOURCE_PATH: /workspace/assets/models:${IGN_GAZEBO_RESOURCE_PATH}
    
    devices:
      - /dev/dri/card1:/dev/dri/card0
      - /dev/dri/renderD128:/dev/dri/renderD128

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./assets/models/:/root/.gz/fuel:rw
      - ./:/workspace

    command:
      ros2 launch ros_gz_sim gz_sim.launch.py gz_args:=assets/maps/world-test.sdf
