services:
  gazebo:
    build:
      context: .
      dockerfile: docker/ros-jazzy-gazebo.Dockerfile
    container_name: gazebo
    network_mode: host
    working_dir: /workspace
    
    ports:
    - 5555:5555 # ZMQ Port

    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - IGN_GAZEBO_RESOURCE_PATH=/workspace/assets/models:${IGN_GAZEBO_RESOURCE_PATH}
      # NVIDIA Specific Environment Variables
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all

    # Instead of manual /dev/dri devices, use the CDI device for NVIDIA
    devices:
      - nvidia.com/gpu=all

    security_opt:
      - label=disable  # Required for SELinux (common on NixOS/Fedora) to access GPU/X11

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./.cache/fuel/:/root/.gz/fuel:rw
      - ./.cache/rosdep:/root/.ros/rosdep/sources.cache:rw
      - ./:/workspace:Z  # Added :Z for SELinux relabeling of your code

    command: >
      bash -c "
        source /opt/ros/jazzy/setup.bash &&
        cd /workspace/ros2_ws &&
        rosdep update &&
        rosdep install --from-paths . -y --ignore-src &&
        colcon build --symlink-install &&
        source install/setup.bash &&
        ros2 launch firebot_rl run_gz.launch.py
      "

  train:
    image: astral/uv:debian
    volumes:
      - ./rl_agent:/app
      - ./.cache/uv:/root/.cache/uv
    environment:
      - UV_LINK_MODE=copy
      - UV_PYTHON_INSTALL_DIR=/root/.cache/uv/python
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    devices:
      - nvidia.com/gpu=all
    security_opt:
      - label=disable
    network_mode: host
    working_dir: /app
    command: sh -c "uv sync && uv run train.py"

  teleop:
    image: astral/uv:debian
    volumes:
      - ./rl_agent:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./.cache/uv:/root/.cache/uv
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - UV_LINK_MODE=copy
      - UV_PYTHON_INSTALL_DIR=/root/.cache/uv/python
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,graphics
    devices:
      - nvidia.com/gpu=all
    security_opt:
      - label=disable
    network_mode: host
    working_dir: /app
    command: sh -c "uv sync && uv run teleop_gym.py"
