services:
  gazebo:
    build:
      context: .
      dockerfile: docker/ros-jazzy-gazebo.Dockerfile
    container_name: gazebo
    network_mode: host
    working_dir: /workspace

    environment:
      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: "1"
      IGN_GAZEBO_RESOURCE_PATH: /workspace/assets/models:${IGN_GAZEBO_RESOURCE_PATH}

    devices:
      - /dev/dri/card1:/dev/dri/card0
      - /dev/dri/renderD128:/dev/dri/renderD128

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./assets/models/:/root/.gz/fuel:rw
      - ./:/workspace
    command: >
      bash -c "
        source /opt/ros/jazzy/setup.bash &&
        cd /workspace/ros2_ws &&               # 1. Enter the specific ROS 2 workspace
        colcon build --symlink-install &&      # 2. Build only what is in this folder
        source install/setup.bash &&           # 3. Source the result (inside ros2_ws)
        ros2 launch firebot-rl run_gz.launch.py
      "
